* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}

/* Ho a disposizione come pesi 400-500-700 */

body a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(218, 0, 0);
}

body a:hover {
  color: blue;
}

ul {
  padding: 0;
}

/* Strutturiamo l'header */

header {
  background-color: rgba(221, 221, 221, 0.95);
  padding-block: 10px;
  width: 100%;
  position: fixed;
}

header li {
  display: inline-block;
  margin-inline: 20px;
}

header ul li:first-child {
  margin-left: 40px;
}

.header__main {
  position: relative;
}

.header__submenu {
  border-top: 1px solid gray;
  position: absolute;
  width: 100%;
  top: 38px;
}
