* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}

/* Ho a disposizione come pesi 400-500-700 */

body a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(179, 2, 2);
}

body a:hover {
  color: blue;
}

header ul li {
  font-weight: 500;
  color: rgb(179, 2, 2);
}

header ul li:hover {
  color: blue;
  cursor: pointer; /* questa funzione cambia il puntatore del mouse */
}

ul {
  padding: 0;
}

/* Strutturiamo l'header */

header {
  text-transform: capitalize;
}

header li {
  display: inline-block;
  margin-inline: 20px;
}

header ul li:first-child {
  margin-left: 40px;
}

.header__submenu li:last-child {
  margin-right: 40px;
}

.header__main {
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: 10px;
  background-color: rgb(200, 200, 200);
}

.header__submenu {
  border-top: 1px solid gray;
  position: fixed;
  top: 39px;
  width: 100%;
  padding-block: 10px;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  padding: 100px 40px;
}
